.nmlb-medialib-field { display: inline-block; }
.nmlb-medialib-field .nmlb-attachments { margin: 0; padding: 0; display: inline-block;vertical-align: middle; }
.nmlb-medialib-field .nmlb-attachments .nmlb-attachment { width: 50px; padding: 3px; }

.nmlb-modal { font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; font-size: 12px; }
.nmlb-modal * { box-sizing: content-box; }
.nmlb-modal input[type=text], .nmlb-modal input[type=password], .nmlb-modal input[type=number], .nmlb-modal input[type=search], .nmlb-modal input[type=email], .nmlb-modal input[type=url], .nmlb-modal select, .nmlb-modal textarea {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 14px; border-width: 1px; border-style: solid; border-color: #ddd; box-sizing: border-box;
}
.nmlb-modal .nmlb-icon { background-image: url(images/uploader-icons.png); display: inline-block; background-repeat: no-repeat; height: 15px; width: 15px; margin: 5px; }
.nmlb-modal-close .nmlb-icon { background-position: -100px 0;  }
.nmlb-modal { position: fixed; left:30px; right:30px; top:30px; bottom:30px; box-shadow: 4px 4px 8px rgba(0,0,0,0.5); background: #fcfcfc;  z-index: 1000; -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; }
.nmlb-modal-back { position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: black; opacity: 0.5; z-index: 999; }
.nmlb-modal-close { height: 32px; width: 32px; background: transparent; border: none; padding: 0; position: absolute; right: 5px; top:5px; cursor: pointer; z-index: 300; }
.nmlb-frame-title, .nmlb-frame-router { position: absolute; left: 0px;right: 0; z-index: 200; }
.nmlb-frame-content, .nmlb-frame-toolbar { left: 0px; height: auto; position: absolute; right: 0; }
.nmlb-frame-title { top: 0;height: 50px; }
.nmlb-frame-title h1 { padding: 0 16px;font-size: 22px;line-height: 50px;margin: 0; }
.nmlb-frame-router { top: 50px; height: 36px; }
.nmlb-frame-router ul { list-style: none; position: relative; padding: 0 6px; margin: 0; clear: both;user-select: none; }
.nmlb-frame-router ul li { position: relative; display:inline-block; float: left; padding: 8px 10px 9px; margin: 0; height: 18px; cursor: pointer; }
.nmlb-frame-router ul li.active { margin: -1px -1px 0; background: #fff; border: 1px solid #ddd; border-bottom: none; }
.nmlb-frame-content { top: 84px;bottom: 61px;width: auto;margin: 0;overflow: auto;background: #fff;border-top: 1px solid #ddd;  }
.nmlb-frame-toolbar { z-index: 100; bottom: 60px; }
.nmlb-frame-file {display: none;}

.nmlb-upload-content { position: absolute;top: 30%;left: 0;right: 0; text-align: center; }
.nmlb-upload-content div { font-size: 1.8em; color: #444; padding: 5px 0; }
.nmlb-upload-content div small { font-size: 0.6em; }
.nmlb-upload-content button {padding: 15px 30px;border: 1px solid #ccc;background: #f7f7f7;color: #555;border-radius: 2px;box-shadow: 0 1px 0 #ccc;}

.nmlb-toolbar { position: absolute; top: 0; bottom: -45px; left: 0; right: 0; height: auto; overflow: initial; border-top: 1px solid #ddd; padding: 0 16px; }
.nmlb-browser-toolbar { position: absolute; top: 0; left: 0; z-index: 100; height: 50px; padding: 0 16px; border: 0 solid #ddd; overflow: hidden; }
.nmlb-browser .nmlb-attachments { position: absolute; top: 50px; left: 0; bottom: 0; overflow: auto; outline: 0; padding: 2px 8px 8px; margin: 0; transition: opacity 250ms; }
.nmlb-sidebar { position: absolute; top: 0; bottom: 0; right: 0; width: 267px; padding: 0 16px 24px; z-index: 75; border-left: 1px solid #ddd; overflow: auto; background: #f3f3f3; }
.nmlb-toolbar-left { float: left; height: 100%; max-width: 66%; }
.nmlb-toolbar-right { float: right; height: 100%; max-width: 33%; }
.nmlb-browser-search { width: 100%; height: auto; padding: 3px 6px; margin: 11px 1px 1px;}

.nmlb-frame-toolbar .nmlb-toolbar-right button {
	background:#0085ba; margin-top: 15px; border: 1px solid #006799; box-shadow: 0 1px 0 #006799;
	color:#fff;   text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
	height: 25px; padding:2px 20px; border-radius: 2px; cursor: pointer;
}
.nmlb-frame-toolbar .nmlb-toolbar-right button:hover { background: #008ec2;  }

.nmlb-browser .nmlb-browser-toolbar,
.nmlb-browser .nmlb-attachments,
.nmlb-browser .nmlb-loading,
.nmlb-browser .nmlb-upload-content { right: 300px;  }
.nmlb-browser .nmlb-upload-content { opacity: 0; transition: opacity 250ms; }

.nmlb-attachment {
	position: relative; float: left; padding: 8px; margin: 0; color: #444; cursor: pointer; list-style: none; text-align: center;
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; width: 25%; box-sizing: border-box;
}
.nmlb-attachments.two-column .nmlb-attachment { width: 50%; }
.nmlb-attachments.tree-column .nmlb-attachment { width: 33%; }
.nmlb-attachments.four-column .nmlb-attachment { width: 25%; }
.nmlb-attachments.five-column .nmlb-attachment { width: 20%; }
.nmlb-attachments.six-column .nmlb-attachment { width: 16.66%; }

.nmlb-attachment:focus { box-shadow: inset 0 0 2px 3px #fff, inset 0 0 0 7px #5b9dd9; outline: 0; }
.nmlb-attachment.selected { box-shadow: inset 0 0 0 5px #fff, inset 0 0 0 7px #6a819f; }
.nmlb-attachment.active { box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #0073aa; }
.nmlb-attachment-preview { position: relative; box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05); background: #eee; cursor: pointer; }
.nmlb-attachment-preview:before { content: ""; display: block; padding-top: 100%; }
.nmlb-attachment .thumbnail {overflow: hidden;position: absolute;top: 0;right: 0;bottom: 0;left: 0;opacity: 1;transition: opacity .1s;}
.nmlb-attachment .thumbnail .centered {position: absolute;top: 0;left: 0;width: 100%;height: 100%;-webkit-transform: translate(50%,50%);transform: translate(50%,50%);}
.nmlb-attachment .thumbnail:after {content: "";display: block;position: absolute;top: 0;left: 0;right: 0;bottom: 0;box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);overflow: hidden;}

.nmlb-attachment .check {
	display: none; height: 24px; width: 24px; padding: 0; border: 0; position: absolute; z-index: 10; top: 0; right: 0;
	outline: 0; background: #eee; cursor: pointer; box-shadow: 0 0 0 1px #fff, 0 0 0 2px #6a819f;
}
.nmlb-attachment.selected .check { display: block; }
.nmlb-attachment.active .check, .nmlb-attachment.selected .check:focus {
	background-color: #0073aa; box-shadow: 0 0 0 1px #fff, 0 0 0 2px #0073aa;
}

.nmlb-attachment .check .nmlb-icon { background-position: -1px 0;  }
.nmlb-attachment.active .check .nmlb-icon { background-position: -21px 0; }
.nmlb-attachment .check:hover .nmlb-icon {background-position: -40px 0;}
.nmlb-attachment.active .check:hover .media-modal-icon,
.nmlb-attachment.selected .check:focus .media-modal-icon,
.nmlb-attachment.selected .check:hover .media-modal-icon {background-position: -60px 0;}


.nmlb-attachment .thumbnail .centered img {-webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}
.nmlb-attachment .thumbnail img { position: absolute; top: 0;left: 0; max-height: 100%; }


.nmlb-modal .nmlb-button-link {margin: 0;padding: 0;box-shadow: none;border: 0;border-radius: 0;background: 0 0;outline: 0;cursor: pointer;text-align: left;color: #0073aa;text-decoration: underline;transition-property: border, background, color;transition-duration: .05s;transition-timing-function: ease-in-out}
.nmlb-modal .nmlb-button-link:active, .nmlb-modal .nmlb-button-link:hover {color: #00a0d2}
.nmlb-modal .nmlb-button-link:focus {color: #124964;box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8)}

.nmlb-selection {position: absolute;top: 0;left: 0;right: 350px;height: 60px;padding: 0 0 0 16px;overflow: hidden;white-space: nowrap}
.nmlb-selection .nmlb-selection-info {display: inline-block;font-size: 12px;height: 60px;margin-right: 10px;vertical-align: top}
.nmlb-selection.editing, .nmlb-selection.empty, .nmlb-selection.one .edit-selection {display: none}
.nmlb-selection .nmlb-count {display: block;padding-top: 12px;font-size: 14px;line-height: 20px;font-weight: 600}
.nmlb-selection .nmlb-attachments, .nmlb-selection .nmlb-selection-view {display: inline-block;vertical-align: top}
.nmlb-selection .nmlb-button-link {float: left;padding: 1px 8px;margin: 1px 8px 1px -8px;line-height: 16px;border-right: 1px solid #ddd;color: #0073aa;text-decoration: none}
.nmlb-selection .nmlb-button-link:focus, .nmlb-selection .nmlb-button-link:hover {color: #00a0d2}
.nmlb-selection .nmlb-button-link:last-child {border-right: 0;margin-right: 0}
.nmlb-selection-info .nmlb-clear-selection {color: #bc0b0b}
.nmlb-selection-info .nmlb-clear-selection:focus, .nmlb-selection-info .nmlb-clear-selection:hover {color: #dc3232}
.nmlb-selection .nmlb-attachments {height: 48px;margin: 6px;padding: 0;overflow: hidden}
.nmlb-selection .nmlb-attachment {width: 40px;padding: 0;margin: 4px}
.nmlb-selection .nmlb-attachment .thumbnail {top: 0;right: 0;bottom: 0;left: 0}
.nmlb-selection .nmlb-attachment .icon {width: 50%}
.nmlb-selection .nmlb-attachment-preview {box-shadow: none;background: 0 0}
.nmlb-modal .nmlb-selection .nmlb-attachment.active:focus, .nmlb-modal .nmlb-selection .nmlb-attachment:focus, .nmlb-modal .nmlb-selection .selected.nmlb-attachment:focus {box-shadow: 0 0 0 1px #fff, 0 0 2px 3px #5b9dd9}
.nmlb-modal .nmlb-selection .nmlb-attachment.selected {box-shadow: none}
.nmlb-modal .nmlb-selection .nmlb-attachment.active {box-shadow: 0 0 0 1px #fff, 0 0 0 3px #0073aa}
.nmlb-selection:after {content: "";display: block;position: absolute;top: 0;right: 0;bottom: 0;width: 25px;background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0))}
.nmlb-selection .nmlb-attachment .filename {display: none}

.nmlb-uploader-window { position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0, 86, 132, .9);z-index: 250000;display: none;text-align: center;opacity: 0; transition: opacity 250ms}
.nmlb-uploader-window-content { position: absolute;top: 10px;left: 10px;right: 10px;bottom: 10px;border: 1px dashed #fff}
.nmlb-uploader-window h1, .nmlb-uploader-window h3 { margin: -.5em 0 0;position: absolute;top: 50%;left: 0;right: 0;-webkit-transform: translateY(-50%);transform: translateY(-50%);font-size: 40px;color: #fff;padding: 0}
.nmlb-uploader-window .nmlb-progress-bar { margin-top: 20px;max-width: 300px;background: 0 0;border-color: #fff;display: none}
.nmlb-uploader-window .nmlb-progress-bar div { background: #fff}


.nl_file_name { font-size:10px; position: absolute;left: 0;right: 0;bottom: 0;overflow: hidden;max-height: 100%;word-wrap: break-word;text-align: center;font-weight: 600;background: rgba(255,255,255,.8);box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);}
.nmlb-medialib-field .nl_file_name {font-size: 7px;}
.nl_file_icon {
	-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);position: absolute;top: 0;left: 0;max-height: 60%; max-width: 60%; height: 60%; width: 60%;
	background-repeat: no-repeat; background-position: center center; background-size: contain; margin-top:-10%; background-image: url("images/files/default.png")
}
.nl_file_icon_3ds { background-image: url("images/files/3ds.png")}
.nl_file_icon_aac { background-image: url("images/files/aac.png")}
.nl_file_icon_ai { background-image: url("images/files/ai.png")}
.nl_file_icon_avi { background-image: url("images/files/avi.png")}
.nl_file_icon_bmp { background-image: url("images/files/bmp.png")}
.nl_file_icon_cad { background-image: url("images/files/cad.png")}
.nl_file_icon_cdr { background-image: url("images/files/cdr.png")}
.nl_file_icon_css { background-image: url("images/files/css.png")}
.nl_file_icon_dat { background-image: url("images/files/dat.png")}
.nl_file_icon_dll { background-image: url("images/files/dll.png")}
.nl_file_icon_dmg { background-image: url("images/files/dmg.png")}
.nl_file_icon_doc { background-image: url("images/files/doc.png")}
.nl_file_icon_docx { background-image: url("images/files/doc.png")}
.nl_file_icon_eps { background-image: url("images/files/eps.png")}
.nl_file_icon_fla { background-image: url("images/files/fla.png")}
.nl_file_icon_flv { background-image: url("images/files/flv.png")}
.nl_file_icon_gif { background-image: url("images/files/gif.png")}
.nl_file_icon_html { background-image: url("images/files/html.png")}
.nl_file_icon_indd { background-image: url("images/files/indd.png")}
.nl_file_icon_iso { background-image: url("images/files/iso.png")}
.nl_file_icon_jpg { background-image: url("images/files/jpg.png")}
.nl_file_icon_js { background-image: url("images/files/js.png")}
.nl_file_icon_midi { background-image: url("images/files/midi.png")}
.nl_file_icon_mov { background-image: url("images/files/mov.png")}
.nl_file_icon_mp3 { background-image: url("images/files/mp3.png")}
.nl_file_icon_mpg { background-image: url("images/files/mpg.png")}
.nl_file_icon_pdf { background-image: url("images/files/pdf.png")}
.nl_file_icon_php { background-image: url("images/files/php.png")}
.nl_file_icon_png { background-image: url("images/files/png.png")}
.nl_file_icon_ppt { background-image: url("images/files/ppt.png")}
.nl_file_icon_ps { background-image: url("images/files/ps.png")}
.nl_file_icon_psd { background-image: url("images/files/psd.png")}
.nl_file_icon_raw { background-image: url("images/files/raw.png")}
.nl_file_icon_sql { background-image: url("images/files/sql.png")}
.nl_file_icon_svg { background-image: url("images/files/svg.png")}
.nl_file_icon_tif { background-image: url("images/files/tif.png")}
.nl_file_icon_txt { background-image: url("images/files/txt.png")}
.nl_file_icon_wmv { background-image: url("images/files/wmv.png")}
.nl_file_icon_xls { background-image: url("images/files/xls.png")}
.nl_file_icon_xlsx { background-image: url("images/files/xls.png")}
.nl_file_icon_xml { background-image: url("images/files/xml.png")}
.nl_file_icon_zip { background-image: url("images/files/zip.png")}






.nmlb-typing { position: absolute;right: 15px;top: 7px; opacity: 0; pointer-events: none; transition: opacity 250ms; }
@keyframes nmlb-ellipsis3 { 0%, 25% {left: 32px;-webkit-transform: scale(0);transform: scale(0);} 50% {left: 32px;-webkit-transform: scale(1);transform: scale(1);} 75% {left: 100px;} 100% {left: 168px;-webkit-transform: scale(1);transform: scale(1);} }
@-webkit-keyframes nmlb-ellipsis3 { 0%, 25% {left: 32px;-webkit-transform: scale(0);transform: scale(0);} 50% {left: 32px;-webkit-transform: scale(1);transform: scale(1);} 75% {left: 100px;} 100% {left: 168px;-webkit-transform: scale(1);transform: scale(1);} }
@keyframes nmlb-ellipsis2 { 0% {-webkit-transform: scale(1);transform: scale(1);} 25%, 100% {-webkit-transform: scale(0);transform: scale(0);} }
@-webkit-keyframes nmlb-ellipsis2 { 0% {-webkit-transform: scale(1);transform: scale(1);} 25%, 100% {-webkit-transform: scale(0);transform: scale(0);} }
@keyframes nmlb-ellipsis { 0% {left: 32px;-webkit-transform: scale(0);transform: scale(0);} 25% {left: 32px;-webkit-transform: scale(1);transform: scale(1);} 50% {left: 100px;} 75% {left: 168px;-webkit-transform: scale(1);transform: scale(1);} 100% {left: 168px;-webkit-transform: scale(0);transform: scale(0);} }
@-webkit-keyframes nmlb-ellipsis { 0% {left: 32px;-webkit-transform: scale(0);transform: scale(0);} 25% {left: 32px;-webkit-transform: scale(1);transform: scale(1);} 50% {left: 100px;} 75% {left: 168px;-webkit-transform: scale(1);transform: scale(1);} 100% {left: 168px;-webkit-transform: scale(0);transform: scale(0);} }
.nmlb-ellipsis {position: relative;}
.nmlb-ellipsis > div {position: absolute;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width: 40px;height: 40px;}
.nmlb-ellipsis div > div {width: 40px;height: 40px;border-radius: 50%;background: #f00;position: absolute;top: 100px;left: 32px;-webkit-animation: nmlb-ellipsis 2s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;animation: nmlb-ellipsis 2s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;}
.nmlb-ellipsis div:nth-child(1) div {-webkit-animation: nmlb-ellipsis2 2s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;animation: nmlb-ellipsis2 2s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;background: #0e151e;}
.nmlb-ellipsis div:nth-child(2) div {-webkit-animation-delay: -1s;animation-delay: -1s;background: #32495c;}
.nmlb-ellipsis div:nth-child(3) div {-webkit-animation-delay: -0.5s;animation-delay: -0.5s;background: #7394a4;}
.nmlb-ellipsis div:nth-child(4) div {-webkit-animation-delay: 0s;animation-delay: 0s;background: #a2b4bc;}
.nmlb-ellipsis div:nth-child(5) div {-webkit-animation: nmlb-ellipsis3 2s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;animation: nmlb-ellipsis3 2s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;background: #0e151e;}
.nmlb-ellipsis {width: 32px !important;height: 32px !important;-webkit-transform: translate(-16px, -16px) scale(0.16) translate(16px, 16px);transform: translate(-16px, -16px) scale(0.16) translate(16px, 16px);}

.nmlb-loading { position: absolute; top: 50%; left: 0; text-align: center; margin-top: -64px; opacity:0; pointer-events: none; transition: opacity 250ms;  }
@keyframes lds-double-ring { 0% {-webkit-transform: rotate(0);transform: rotate(0);} 100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);} }
@-webkit-keyframes lds-double-ring { 0% {-webkit-transform: rotate(0);transform: rotate(0);} 100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);} }
@keyframes lds-double-ring_reverse { 0% {-webkit-transform: rotate(0);transform: rotate(0);} 100% {-webkit-transform: rotate(-360deg);transform: rotate(-360deg);} }
@-webkit-keyframes lds-double-ring_reverse { 0% {-webkit-transform: rotate(0);transform: rotate(0);} 100% {-webkit-transform: rotate(-360deg);transform: rotate(-360deg);} }
.lds-double-ring { position: relative; display: inline-block; }
.lds-double-ring div { position: absolute;width: 160px;height: 160px;top: 20px;left: 20px;border-radius: 50%;border: 10px solid #000;border-color: #32495c transparent #32495c transparent;-webkit-animation: lds-double-ring 1.2s linear infinite;animation: lds-double-ring 1.2s linear infinite;}
.lds-double-ring div:nth-child(2) { width: 136px;height: 136px;top: 32px;left: 32px;border-color: transparent #7394a4 transparent #7394a4;-webkit-animation: lds-double-ring_reverse 1.2s linear infinite;animation: lds-double-ring_reverse 1.2s linear infinite;}
.lds-double-ring { width: 128px !important;height: 128px !important;-webkit-transform: translate(-64px, -64px) scale(0.64) translate(64px, 64px);transform: translate(-64px, -64px) scale(0.64) translate(64px, 64px);}
